.git
.github
.husky
.claude
.DS_Store

node_modules
**/node_modules

.env
.env.*

target
**/target
dist
**/dist
*.tsbuildinfo
**/*.tsbuildinfo
.next
**/.next
coverage
**/coverage
artifacts
out
**/out

docs
docker
tools
*.md

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
